#
# check-pr.yml
# Close PRs directed at release branches
#

name: Bad PR Target

on:
  pull_request_target:
    types: [opened]

jobs:
  bad_target:
    name: Bad PR Target
    if: github.repository == 'classicrocker883/MRiscoCProUI' && github.event.pull_request.base.ref != '2025-January'

    runs-on: ubuntu-latest

    steps:
      - uses: superbrothers/close-pull-request@v3.1.2
        with:
          comment: |
            Thanks for your contribution!

            Unfortunately, we can only accept **PR**s targeting the **default** branch.

            Anything Marlin specific, or `HC32-*` branches should be submitted [here](https://github.com/MarlinFirmware/Marlin/issues/new/choose).

            To fix this:
              1. Rebase your branch onto `default`.
              2. Submit a new **PR** targeting the most recent.

            Please redo this **PR** starting with the most recent branch and be careful to target it when resubmitting the **PR**.

            See [this page](https://marlinfw.org/docs/development/getting_started_pull_requests.html) for full instructions.

      - uses: actions-ecosystem/action-add-labels@v1.1.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: 'invalid'
